BPMN in Color.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmncolor="http://www.omg.org/spec/BPMN/non-normative/color/1.0" targetNamespace="http://www.omg.org/spec/BPMN/non-normative/color/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:simpleType name="HexColor">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9a-fA-F]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:attribute name="background-color" type="bpmncolor:HexColor"/>
	<xs:attribute name="border-color" type="bpmncolor:HexColor"/>
	<xs:attribute name="color" type="bpmncolor:HexColor"/>
	
</xs:schema> 